<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
      <input type="text" name="name" id="name" placeholder="Name" />

      <input type="password" name="password" id="password" placeholder="password" />
      <!-- <input type="text" name="re-password" id="re-password" placeholder="re-enter password" /> -->
        <button type="submit">BAck</button>
      <a href="index.html">back</a>
</body>
</html>

